/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.fullscreen{
	padding: 0 0;
	background-color: #888;
}

section{
	padding: 30px 0;
}

.icon-settings{
	font-size: 24px;
}

@media (min-width: 576px){
	#edit_source_modal .modal-dialog {
	    max-width: 700px;
	    margin-top: 3rem;    
	    margin-left: 1.75rem !important;
	}
	.modal-body{
		padding: 30px;
	}	

	#add_method_name_modal .modal-dialog {
	    max-width: 500px;
	    margin-top: 5rem;    	    
	}
	#edit_method_modal .modal-dialog {
	    max-width: 700px;	    
	}

	#edit_parameter_modal .modal-dialog {
	    margin-top: 5rem; 	    
	}

}

table > thead td, th{
	background-color: #ccc !important; 
}

table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}

.asm-edit-parameter-btn{
	margin-left: 30px;
}

.toolbar{
	text-align: right;
}
.add-method-btn{
	width: 100px;
}

.btn-div{
	padding-top: 35px;
}

/*
#maintable .select2-container{
	width: 100px !important;
} 
*/
#api_method_name_select_div > .select2-container{
	width: 100% !important;
}


.modal .select2-container {
	min-width: 100% !important;
	padding: 0;
}

.method-name-select2{
	width: 200px;
}

.editable-input{
	width: 100%;
    float: left;
}

.editable-input textarea{
	width: 100%;
}

.editable-buttons{
	float: left;
    width: 100%
}

.editable-submit{
	width: 45%;
}

.editable-cancel{
	width: 45%;
}

#api_method_name_select_div{
	position: absolute;
	z-index: 1000;
	display: none;
}

.select2-control-btn{
	text-align: right;
	font-size: 18px;
}
.select2-control-btn .icon-check{
	cursor: pointer;
	margin-right: 5	px; 
}

.select2-control-btn .icon-x{
	cursor: pointer;
}

.td-disable-content{
	color: #ffffff !important;
}

.method-edit-div{
	font-size: 20px;
}

.method-edit-div .edit-btn{
	margin-right: 10px;
}

.method-save-div{
	font-size: 20px;	
}
.method-save-div .save-btn{
	margin-right: 10px;
}

.toast-error {
    background-color: #bd362f;
}

.toast-success {
    background-color: #51a351;
}

.blockOverlay{
	z-index: 2000 !important;
}

.blockMsg{
	z-index: 2050 !important;	
}

.modal-body textarea{
	min-height: 100px;
}

.api-load-type-desc{
	margin: auto 0;
    padding-top: 10px;
    padding-left: 0px;
}