/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.fullscreen{
	padding: 0 0;
	background-color: #888;
}

section{
	padding: 30px 0;
}

.icon-settings{
	font-size: 24px;
}

@media (min-width: 576px){
	#edit-source-modal .modal-dialog {
	    max-width: 700px;
	    margin-top: 3rem;    
	    margin-left: 1.75rem !important;
	}
	.modal-body{
		padding: 30px;
	}	

	#add-method-name-modal .modal-dialog {
	    max-width: 500px;
	    margin-top: 5rem;    	    
	}
	#edit-method-modal .modal-dialog {
	    max-width: 700px;	    
	}

	#edit-parameter-modal .modal-dialog {
	    margin-top: 5rem; 	    
	}

}

table > thead td, th{
	background-color: #ccc !important; 
}

table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}

.esm-edit-parameter-btn{
	margin-left: 30px;
}

.toolbar{
	text-align: right;
}
.add-method-btn{
	width: 100px;
}

.btn-div{
	padding-top: 35px;
}