/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.fullscreen{
	padding: 0 0;
	background-color: #888;
}

section{
	padding: 30px 0;
}

.icon-settings{
	font-size: 24px;
}

@media (min-width: 576px){
	.modal-dialog {
	    max-width: 700px;
	    margin: 1.75rem auto;    
	}
	.modal-body{
		padding: 30px;
	}	
}

table > thead td, th{
	background-color: #ccc !important; 
}

table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}